services:
  - type: web
    name: portfolio-backend
    env: node
    buildCommand: npm install --build-from-source && npm run setup
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: JWT_SECRET
        generateValue: true
      - key: ADMIN_EMAIL
        value: delinuat@gmail.com
      - key: ADMIN_PASSWORD
        value: Angery1993